html, body 						{ width: 100%;}

*								{ margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-weight: lighter;}

h1								{}
h2								{}
h3								{}
h4								{}
p								{ }
a								{ width:100%; font-weight: normal; text-decoration: none; color:#4769ff;}

ul 								{ list-style-type: none;}



#mainWrapper					{ width: 100%; margin: 0; padding: 0;  background-color: #f4eee9;}
.pageContentSize 				{ max-width: 1200px; margin: 0px auto;}
.clearfix						{ clear:both;}
.firstElement					{ margin-left: 0px !important;}



/*--------------- HEADER CONTAINER --------------*/
#mainHeaderContainer			{ width: 100%; height: auto; text-align: center; background-position: center;}
#logo							{ margin: 0px auto;  display: inline-block; }
#logo img 						{ width: 100%; max-width: 100%; margin-bottom: 20px; }

.restaurant 					{ background-image: url("../images/haiku_sushi_06_90bb.jpg") !important; background-size: 100% !important;}

/*--------------- HEADER MENU CONTAINER --------------*/
#mainMenubar						{ width: 100%; text-align:center; margin-top: 30px; height: 30px;}
#mainMenubar ul 					{ display: inline-block; list-style-type: none; padding: 0px; margin: 0px; }
#mainMenubar ul li 					{ width: 70px; display: inline-block; margin-left: 10px;}
#mainMenubar ul li:hover 			{ border-bottom: 1px solid #f4eee9;}
#mainMenubar ul li a				{ text-decoration: none; color: #fff; padding: 0; margin:0; font-weight: lighter;}
#mainMenubar ul li a:hover			{ text-decoration: none; color: #fff; }
#mainMenubar ul li a:visited		{ text-decoration: none; color: #fff; }

.menuSelected						{ border-bottom: 1px solid #fff;}		

#altMenuBar 						{ display: none;}






/*--------------- SOCIALE MEDIA BAR--------------*/
#mainSocialeBar 				{}
.socialeMediaBar				{ width: 100%; margin-top: 20px; }
.socialeMediaBar ul				{ text-align: center; padding-left: 0px !important; }
.socialeMediaBar ul li			{ display: inline-block; margin-left: 20px; width: 50px; }
.socialeMediaBar ul li a		{ color: #333 !important; }
.socialeMediaBar ul li a img	{ width: 50px; }



/*--------------- CONTENT CONTAINER --------------*/
#mainContentContainer 						{ width: 100%; height: auto;}
.content-section							{ padding: 80px 0; }
.content-section-row						{ margin: 0px 40px; width: calc(100% - 80px); }
.content-section-row-twocolumns 			{ margin: 20px 40px;}
.content-section-row-twocolumns-item 		{ float: left; margin-left: 40px; width: calc((100% - 40px)/2) !important;  }

.content-section-row-onecolumn 				{ margin: 20px 40px;}
.content-section-row-onecolumn-item-center 	{ width: 50%; text-align: center; margin: 0 auto !important;}
.content-section-row-onecolumn-item-left 	{ width: 50%; text-align: left; }

.firstSection							{ padding-top: 0px; margin-top: 20px;}

.tablereservation						{ background-image: url("../images/table90b.jpg"); background-size: 100%;  background-position: center; color: #fff !important;}

.openingHours ul 				{ list-style-type: none; margin: 0px; padding: 0px;}
.openingHours ul li				{ margin: 0; padding: 0; display: block;}
.openingHours ul li p			{ width: 50%; margin: 0px; padding: 0px; display: inline-block;}
.spacer 						{ width: 150px !important;}

/*--------------- FOOTER CONTAINER --------------*/
#mainFooterContainer 					{ width: 100%; height:100px; background-color: #0b0400; border-top: 1px solid #fff; }










/*------------- Media query -------------*/
@media  (max-width:850px){
	.contentTwoColumns				{ width: calc(100% - 40px) !important; margin-left: 0px !important; }
	.contentContainer				{ max-width: 850px; margin: 0px auto; }
}

@media (max-width: 670px){
	.contentTwoColumns				{ width: calc(100% - 40px) !important; margin-left: 0px !important; }
	.contentContainer				{ max-width: 850px; margin: 0px auto; }
	#altMenuBar 					{ display: block; text-align: left; margin-left: 40px; margin-right: 40px;}
	#altMenuBar ul li 				{ width: 100%; height: auto;}	
	#altMenuBar ul li a img			{ width: 100px; height: auto; padding-bottom: 5px;}
	#menuBar 						{ display: none;}
	#menubar 						{ padding-bottom: 10px; margin-top: 0px;}
	#logo img 						{ width: 75%; max-width: 100%; margin-bottom: 20px; }
}


@media (max-width: 580px){

	.contentTwoColumns				{ width: calc(100% - 40px) !important; margin-left: 0px !important; }
	.contentContainer				{ max-width: 850px; margin: 0px auto; }
	#altMenuBar 					{ height: auto; display: block; text-align: left; margin-left: 40px; margin-right: 40px;}
	#altMenuBar ul li 				{ width: 100%; height: auto;}	
	#altMenuBar ul li a img			{ width: 100px; height: auto; padding-bottom: 5px;}
	#menuBar 						{ display: none;}
	#logo img 						{ width: 50%; max-width: 100%; margin-bottom: 20px; }
}










